<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="chenwei-plugin-amap"
        version="1.0.11">
    <name>AMapPlugin</name>
    <description>高德地图插件</description>
    <author email="1458010118@qq.com" href="http://www.chenwei.site">陈炜</author>
    <license>Apache 2.0</license>
    <keywords>cordova,AMap,location</keywords>
    <preference name="ANDROID_KEY"/>
    <preference name="IOS_KEY"/>
    <js-module src="www/AMapPlugin.js" name="AMapPlugin">
        <clobbers target="AMapPlugin"/>
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AMapPlugin">
                <param name="android-package" value="com.chenwei116057.plugin.AMapPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!--用于进行网络定位-->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <!--用于访问GPS定位-->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
            <!--用于访问网络，网络定位需要上网-->
            <uses-permission android:name="android.permission.INTERNET"/>
            <!--用于读取手机当前的状态-->
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <!--用于写入缓存数据到扩展存储卡-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <!--用于申请调用A-GPS模块-->
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
            <!--用于申请获取蓝牙信息进行室内定位-->
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
            <!-- 允许应用读取低级别的系统日志文件 -->
            <uses-permission android:name="android.permission.READ_LOGS"/>
            <!-- 更改设置 -->
            <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!--您申请的高德地图android key更多详情请看http://www.jianshu.com/p/85aceaee3b35-->
            <meta-data android:name="com.amap.api.v2.apikey" android:value="$ANDROID_KEY"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- 定位需要的服务 -->
            <service android:name="com.amap.api.location.APSService"></service>
        </config-file>
        <source-file src="src/main/android/AMapPlugin.java" target-dir="src/com/chenwei116057/plugin"/>
        <source-file src="src/main/android/AMapLocationListener.java" target-dir="src/com/chenwei116057/plugin"/>
        <source-file src="src/main/android/AMapWeatherSearchListener.java" target-dir="src/com/chenwei116057/plugin"/>
        <lib-file src="src/resources/android/AMap.jar"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AMapPlugin">
                <param name="ios-package" value="AMapPlugin"/>
            </feature>
        </config-file>
        <config-file target="*/*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
        <config-file target="*/*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>为了确保您可以正确使用本应用，请选择允许</string>
        </config-file>
        <!--您申请的高德地图ios key更多详情请看http://www.jianshu.com/p/85aceaee3b35-->
        <config-file target="*/*-Info.plist" parent="GaoDeAppKey">
            <string>$IOS_KEY</string>
        </config-file>
        <framework src="src/resources/ios/AMapFoundationKit.framework" custom="true"/>
        <framework src="src/resources/ios/AMapLocationKit.framework" custom="true"/>
        <framework src="src/resources/ios/AMapSearchKit.framework" custom="true"/>
        <framework src="src/resources/ios/MAMapKit.framework" custom="true"/>
        <framework src="ExternalAccessory.framework"/>
        <framework src="CoreTelephony.framework"/>
        <framework src="GLKit.framework"/>
        <framework src="libz.tbd"/>
        <framework src="libc++.tbd"/>
        <source-file src="src/main/ios/AMapPlugin.m"/>
        <source-file src="src/main/ios/AMapPlugin.h"/>
        <source-file src="src/main/ios/AMapPluginSearch.h"/>
        <source-file src="src/main/ios/AMapPluginSearch.m"/>
    </platform>
</plugin>
